html, 
body { 
    height: 300px; 
} 
  
.top-center { 
    top: 20%; 
    left: 50%; 
    transform: translateX(-50%); 
} 

.mid-center { 
    top: 40%; 
    left: 50%; 
    transform: translateX(-50%) translateY(-50%); 
} 
.bottom-center { 
    top: 47%; 
    left: 50%; 
    transform: translateX(-50%); 
} 
.custom {
width: 200px !important;
}